input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:host {
    display: block;
    height: 100vh;
    /* Asegura que el fondo cubra toda la pantalla */
    background-image: url('../../../../public/images/universe.gif');
    background-size: cover;
    /* Ajusta el tamaño para cubrir toda la pantalla */
    background-repeat: no-repeat;
    /* Evita que el fondo se repita */
    background-position: right;
    /* Centra el fondo */
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0.00005;
    background-repeat: no-repeat;
    background-size: cover;
    will-change: transform;
    pointer-events: none;
    /* Evita que interfieran con la interacción */
}

.layer:nth-child(1) {
    background-image: url('../../../../public/images/1.png');
}

.layer:nth-child(2) {
    background-image: url('../../../../public/images/2.png');
}

.layer:nth-child(3) {
    background-image: url('../../../../public/images/3.png');
}

.layer:nth-child(4) {
    background-image: url('../../../../public/images/4.png');
}

.layer:nth-child(5) {
    background-image: url('../../../../public/images/5.png');
}

.layer:nth-child(6) {
    background-image: url('../../../../public/images/6.png');
}

.layer:nth-child(7) {
    background-image: url('../../../../public/images/7.png');
}

.mainCointainer {
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.fieldsContainer {
    z-index: 1000;
    width: 100%;
    display: flex;
}

.inputsContainer,
.graphicContainer {
    z-index: 1000;
    height: 100%;
    margin: 2% 2%;
}

.inputsContainer {
    z-index: 1000;
    flex: 0.3;
    background-color: #51515191;
    padding: 1%;
    border-radius: 14px;
    box-shadow: 11px 11px #02fff37d;
}

.graphicContainer {
    z-index: 1000;
    flex: 0.7;
}

.chart {
    background-color: rgb(81 81 81 / 96%);
    border-radius: 11px;
    box-shadow: 8px 10px #02fff37d;
    height: 74vh;
}

.calculateButton {
    margin-top: 4%;
    text-align-last: center;
}

.calculateButton button {
    margin-left: 5%;
    font-size: 32px;
    background-color: rgba(81, 81, 81, 0.568627451);
    color: #fdfdfd;
    box-shadow: 1px 6px rgba(2, 255, 243, 0.4901960784);
}

.inputsContainer form,
form div {
    display: grid;
}

mat-radio-button input {
    width: 3%;
}

mat-radio-button .mat-accent.mat-mdc-radio-button {
    --mdc-radio-selected-icon-color: #02fff3 !important;
}

h3 {
    color: #02fff3;
}

h4 {
    color: white;
}