<div class="mainCointainer">

    <div class="fieldsContainer">

        <div class="inputsContainer">

            <form class="example-form" [formGroup]="constantsForm">

                <div>
                    <div style="display: flex;">
                        <h3>Constantes</h3>
                        <div style="margin-left: 20%; height: 60%;">
                            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="rlc"
                                (change)="onSistemTypeChange($event)">
                                <mat-button-toggle [value]="false">MRA</mat-button-toggle>
                                <mat-button-toggle [value]="true">RLC</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width">
                        <mat-label> {{rlc?"ingrese la inductansia (L)":"ingrese masa (M)"}}</mat-label>
                        <input type="number" matInput [placeholder]="rlc?'Inductansia (L)':'Masa (M)'"
                            formControlName="m">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label> {{rlc?"ingrese la capacitancia (C)":"ingrese constate elastica (K)"}}</mat-label>
                        <input type="number" matInput [placeholder]="rlc?'Capacitania (C)':'Constate elastica (K)'"
                            formControlName="k">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>{{rlc?"ingrese la resistencia (R)":"ingrese constante de
                            amortiguamiento(B)"}}</mat-label>
                        <input type="number" matInput
                            [placeholder]="rlc?'Resistencia (R)':'Constante de amortiguamiento (B)'"
                            formControlName="b">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>ingrese valor inicial (C1)</mat-label>
                        <input type="number" matInput placeholder="valor inicial" formControlName="c1">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>ingrese valor inicial (C2)</mat-label>
                        <input type="number" matInput placeholder="valor inicial" formControlName="c2">
                    </mat-form-field>
                </div>
                <div>
                    <h3>{{rlc?"Función de Energia (Et)":"Función de fuerza (Ft)"}}</h3>

                    <mat-radio-group aria-label="Select an option" formControlName="ftType"
                        (change)="onFtTypeChange($event)">
                        <mat-radio-button [value]="1">{{rlc?'Et':'Ft'}} = 0</mat-radio-button>
                        <mat-radio-button [value]="2"><input type="number" class="no-spin"
                                onInput="this.value = this.value.replace(/[^0-9]/g, '')"
                                formControlName="fT1">Seno(<input type="number" class="no-spin"
                                onInput="this.value = this.value.replace(/[^0-9]/g, '')"
                                formControlName="fT2">t)</mat-radio-button>
                        <mat-radio-button [value]="3">{{rlc?'Et':'Ft'}} = t</mat-radio-button>
                    </mat-radio-group>

                </div>
            </form>

        </div>

        <div class="graphicContainer">

            <div style="text-align: center;
            background-color: #6c5483;
            border-radius: 14px; box-shadow: 3px 4px rgb(255 113 244 / 49%);">
                <h4>Sistema: {{sistemType}} </h4>
            </div>

            <div class="chart">
                <canvas #chartCanvas></canvas>
            </div>

            <div class="calculateButton">
                <button style="margin-left: 5%;" mat-flat-button (click)="sendData()">Calcular</button>
                <button style="margin-left: 5%;" mat-flat-button (click)="clean()"
                    [hidden]="sistemType == ''">Limpiar</button>

            </div>
        </div>



    </div>

    <div class="layer" data-speed="0.2"></div>
    <div class="layer" data-speed="0.4"></div>
    <div class="layer" data-speed="0.6"></div>
    <div class="layer" data-speed="0.8"></div>
    <div class="layer" data-speed="1.0"></div>
    <div class="layer" data-speed="1.2"></div>
    <div class="layer" data-speed="1.5"></div>

</div>